
img{
    border-radius: 2vh;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "sectionUpperLeft"
        "sectionUpperMiddle"
        "sectionUpperRight"
        "sectionLowerLeft"
        "sectionLowerMiddle"
        "sectionLowerRight"
        "footer";

    min-width: 100%;
}

h1{
    font-size: 2.1em;
}

h2{
    font-size: 1.2em; 
}
body{
    margin: 3vw;
    font-size: 0.7em;
}

figure img{
    width: 50vw;
    height: 20vh;
}